@import "../../assets/variable.scss";
.overview-card {
    & .ant-card-body{
        padding: 15px 20px;
    }
}
.overview-period{
    display: flex;
    &-item{
        font-size: 16px;
        cursor: pointer;
        margin-right: 15px;
        transition: all 0.3s linear;
        &:hover{
            color: $orange-main-color
        }
    }
}