@import "../../assets/variable.scss";
.recharts-tooltip-wrapper{
    .line{
        &-custom-tooltip{
            background-color: $background-form-item;
            text-align: left;
            padding: 5px;
            border: 0px !important;
            box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
            & div{
                font-size: 12px;
            }
        }
    }
}