.stock-table{
    & .ant-table{
        color: #fff;
    }
}

// data offchain
.offchain__table--container{
    tbody.ant-table-tbody{
        span.table-symbol{
            color: white;
        }
        .ant-table-cell{
            color: white;
        }
        .ant-table-row.ant-table-row-level-1{
            .onchain-table-action{
                .onchain-table-action-icon:nth-child(2){
                    visibility: hidden;
                }
                .anticon.anticon-delete.tab-list-icon-item.onchain-table-action-icon{
                    visibility: hidden;
                }
            }
        }
    }
}