.stock-table{
    & .ant-table{
        color: #fff;
    }
}
.onchain-table{
    margin-top: 50px;
    & .ant-table{
        color: #fff;
    }
    &-action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-icon{
            width: 25px;
            // margin-left: 5px
        }
    }
}