@import '../../assets/index.scss';

.nft{
    padding: 20px 0 ;
    &-header{
        &-list{
            margin-top: 30px;
        }
        & .ant-typography{
            color: $font__color--white;
        }
        & h2.ant-typography{
            margin: 10px 0 ;
        }
        &-item{
            border-radius: 12px;
            position: relative;
            transition: all 0.3s;
            height: 300px;
            cursor: pointer;
            &-content{
                background-color: $background-item-nft;
                text-align: left;
                padding: 5px 8px;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                height: 30%;
            }
            &:hover{
                transform: translateY(-5px);
                box-shadow: $background-item-nft 0px 5px 15px;
            }
            & .ant-image{
                width: 100%;
                height: 70%;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
            &-count{
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: $background-item-nft;
                border-radius: 25px;
                min-width: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 8px;
                & .ant-image{
                    width: 12px;
                    height: 12px;
                    display: flex;
                    align-items: center;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            & span{
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
        }
    }
    &-detail{
        padding: 100px 0;
        max-width: 60vw;
        margin: 0px auto;
        &-content{
            text-align: left;
            &-item{
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $color-item-text-nft;
                & .ant-typography{
                    margin: 0;
                    color: $font__color--white;
                }
                & h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography, h5.ant-typography{
                    margin: 0;
                    color: $font__color--white;
                }
                &-attr{
                    padding: 4px 8px;
                    margin-right: 10px;
                    border-radius: 8px;
                    background-color: $background-item-nft;
                    margin-bottom: 5px;
                }
            }
            &-list{
                &-attr{
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                }
                &-link{
                    display: flex;
                    flex-wrap: wrap;
                    & a{
                        margin-right: 10px;
                        text-decoration: underline;
                        color: $font__color--white;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }
        &-image{
            width: 100%;
            // background-color: red;
            height: 100%;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-transaction{
            &-title{
                color: #fff;
                text-align: left;
                padding: 0 100px;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
    &-title{
        text-align: left;
        align-items: center;
        padding: 0px 0 20px 0;
        display: flex;
        font-size: 30px;
        font-weight: 700;
        color: $font__color--white;
        &-back{
            font-size: 22px;
            margin-right: 30px;
            width: 35px;
            height: 35px;
            border-radius: 20px;
            cursor: pointer;
            background-color: $background-item-nft;
            color: $color-item-text-nft;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.nft{
    padding: 20px 0 ;
    &-item{
        border-radius: 12px;
        position: relative;
        transition: all 0.3s;
        height: 350px;
        cursor: pointer;
        &-content{
            background-color: $background-item-nft;
            text-align: left;
            padding: 5px 8px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            height: 30%;
            & .ant-typography{
                color: $font__color--white;
                &.nft-header-item-price{
                    color: $checker-box-background;
                }
            }
            & h5.ant-typography{
                margin: 0px 0px 10px 0px;
            }
        }
        &-image{
            height: 70%;
            width: 100%;
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: $background-item-nft 0px 5px 15px;
        }
        & .ant-image{
            width: 100%;
            height: 100%;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        &-count{
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $background-item-nft;
            border-radius: 25px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 8px;
            & .ant-image{
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        & span{
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}
.ant-tooltip-inner{
    color: #000;
    background-color: #fff;
}
.address {
  	display: -webkit-box;
    color: $font__color--white;
    width: 200px;
  	-webkit-line-clamp: 1;
  	overflow-x: hidden;
  	text-overflow: ellipsis;
}
.ant-table-tbody > tr > td .date {
    text-align: left !important;
    color: $font__color--white !important;
}
.icon-copy{
    padding: 3px 8px;
    color: $font__color--white;
    transition: all 0.25s linear;
    cursor: pointer;
    border-radius: 4px;
    &:hover{
        background-color: $background-item-nft;
    }
}