@import "../../../assets/variable.scss";

.message-error.ant-typography{
    text-align: left;
}
.ant-modal-content {
    background-color: $modal__background--color;
    .register-form {
        border-radius: 25px;
        padding: $padding-5;
        text-align: center;
        position: relative;
        .ant-form {
            .message-success.ant-typography {
                text-align: left;
            }
        }
        &__checkbox {
            padding-bottom: $padding-2;

            .ant-checkbox-inner {
                background: #969696;
            }

            .ant-checkbox-checked .ant-checkbox-inner {
                background: $blue-color;
                border-color: $blue-color;
            }
        }
        &__button {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            * {
                width: 300px;
                height: 50px;
                border-radius: 24px;
                text-transform: uppercase;
                display: flex !important;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-style: normal;
                font-weight: 700;
                font-size: 19px;
                color: $font__color--white;
                background: $blue-color;
                border: none;
                box-shadow: inset 0px -18px 16px rgba(0, 0, 0, 0.25);
            }

            *:hover {
                background: $indigo-button-hover-color;
                box-shadow: inset 0px -18px 16px rgba(0, 0, 0, 0.25);
            }
        }
        &__network--login {
            > span {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: $blue-color;
            }

            .register-form__network {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                padding-left: 50px;
                padding-right: 50px;

                .coinbase-icon,
                .fb-icon,
                .twt-icon,
                .google-icon,
                .apple-icon {
                    cursor: pointer;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    width: 35px;
                    height: 35px;
                }
            }

            .register-form__login-link {
                margin-top: 20px;
            }
        }
        & .ant-form-item-with-help .ant-form-item-explain {
            text-align: left;
        }
    }
}
.input-item .ant-input-affix-wrapper {
    line-height: 2.5;
    padding: 5px 11px;
    border-radius: 5px;
}
.none-password {
    display: none;
}
.check-password {
    width: 100%;
    height: 5px;
    padding: 0 10px;
    background-color: $white-color;
}
.bad-password {
    transition: all 0.2s linear;
    background-color: $red-bad-password-color;
}
.weak-password {
    transition: all 0.2s linear;
    background-color: $yellow-weak-password-color;
}
.medium-password {
    transition: all 0.2s linear;
    background-color: $green-medium-password-color;
}
.strong-password {
    transition: all 0.2s linear;
    background-color: $green-strong-password-color;
}
.group-check-password {
    padding: 20px;
}
