.swap-page__container {
    min-height: 100vh;

    .swap-page__modal {
        margin-top: 30px;
        background: #1a1a1a;
        border: 1px solid #1a1a1a;
        border-radius: 25px;
        width: 20%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &--title {
            margin-top: 30px;
            font-size: 20px;
            text-transform: capitalize;
        }

        &--wallet-info {
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #262626;
            margin-left: 30px;
            margin-right: 30px;
            border-radius: 25px;

            padding-top: 20px;
            padding-bottom: 20px;

            img {
                max-width: 30px;
                max-height: 45px;
            }

            &--left {
                display: flex;
                justify-content: center;
                align-items: center;

                &-no-img {
                    margin-left: 20px;
                    .swap-page__modal--wallet-info--name {
                        text-align: left;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .swap-page__modal--wallet-info-props--address {
                        color: grey;
                    }

                    .swap-page__modal--wallet-info-props--status {
                        margin-left: 10px;
                        color: #4cd964;
                        cursor: pointer;
                    }
                }
            }

            .change-wallet--arrow {
                font-size: 25px;
                font-weight: 700;
                color: gray;
            }
        }

        &--connect-wallet {
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #262626;
            margin-left: 30px;
            margin-right: 30px;
            border-radius: 25px;

            padding-top: 20px;
            padding-bottom: 20px;

            button {
                min-height: 50px;
                min-width: 80px;
                border-radius: 25px;
                background: #ff9332;
                border: none;
                font-size: 15px;
                font-weight: 600;
            }

            button:hover {
                background: #ffb347;
                color: #1a1a1a;
            }
        }

        &--swap {
            margin-top: 30px;
            background: #262626;
            margin-left: 30px;
            margin-right: 30px;
            border-radius: 25px;

            padding-top: 20px;
            padding-bottom: 20px;

            &__protocol {
                margin-bottom: 30px;
            }

            &-select{
                color: white;

                .swap-select__header{
                    text-align: center;
                }

                .swap-select__content{
                    // margin-top: 15px;
                    text-align: center;

                    button{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin: 0 20px 15px 35px;
                        width: 80%;
                        background: #404040;
                        color: white;
                        font-size: 15px;
                        border: none;
                        border-radius: 15px;
                        padding: 5px;
                        min-height: 50px;
                        max-width: 100%;
                        
                        img{
                          max-width: 30px;
                          max-height: 30px;
                        }
                    }
                    
                    button:hover{
                        background: #ffa959;
                        color:#1a1a1a
                    }
                }
            }

            .swap-page__modal--uni-swap-from,
            .swap-page__modal--uni-swap-to,
            .swap-page__modal--pc-swap-from,
            .swap-page__modal--pc-swap-to {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;

                .select-coin-part {
                    .swap-span {
                        text-align: left;
                        font-size: 15px;
                        color: grey;
                        margin-bottom: 10px;
                    }

                    .ant-btn {
                        border-radius: 25px;
                        background: #333333;
                        color: #fff;
                        border: none;
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        min-height: 40px;

                        .anticon.anticon-down {
                            line-height: 0.5;
                        }
                    }
                }

                .quantity-part {
                    color: gray;
                    position: relative;
                    
                    .token-amount{
                        color: #fff;
                    }

                    .token-balance{
                        margin-top: 15px;
                        position: absolute;
                        right: 0;
                    }
                }
            }

            .swap-page__modal--uni-swap-from, .swap-page__modal--pc-swap-from {
                .quantity-part input{
                    background: transparent;
                    color: white;
                    border-color: white;
                    border-radius: 15px;
                    width: 75%;
                    margin-left: 25%;
                }
            }

            .swap-page__modal--uni-swap-to, .swap-page__modal--pc-swap-to {
                margin-top: 20px;
            }

            .swap-page__modal--back{
                margin-top: 15px;
                button{
                    width: 90%;
                    border-radius: 15px;
                    border: none;
                    background: transparent;
                    color: #fff;
                    font-size: 15px;
                }

                button:hover{
                    background: #ff9332;
                    color: #1a1a1a;
                }
            }
        }

        &--advanced-btn {
            margin-top: 30px;

            button {
                font-size: 18px;
                background: transparent;
                border: none;
                color: white;
                font-weight: 500;

                .anticon-down {
                    color: gray;
                }
            }
        }

        &--submit-btn {
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;

            button {
                width: 100%;
                height: 60px;
                border: none;
                border-radius: 25px;
                cursor: pointer;
                background: #262626;
                color: white;

                span {
                    text-transform: capitalize;
                    font-size: 25px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }
            }

            button:disabled {
                background: #262626;
                color: gray;
            }

            button:hover{
                background: #ffb347;
                color: #333333;
            }
        }

        &--footer {
            margin-top: 20px;
            text-align: center;
            margin-bottom: 20px;

            h6 {
                font-size: 15px;
                color: gray;

                a {
                    color: #ff9332;
                }
            }
        }
    }
}

/* responsive */
@media only screen and (max-width:1975px) {
    .swap-page__container{
        min-height: 90vh !important;
    }

    .swap-page__modal {
        width: 25% !important; 
        // top:45% !important;
    }
}

@media only screen and (max-width:1550px) {
    .swap-page__modal{
        width: 30% !important; 
    }
}

@media only screen and (max-width:1250px) {
    .swap-page__container{
        min-height: 80vh !important;
    }

    .swap-page__modal{
        width: 35% !important; 
        // top: 40% !important;
    }
}

@media only screen and (max-width:1100px) {
    .swap-page__modal{
        width: 45% !important; 
    }
}

@media only screen and (max-width:890px) {
    .swap-page__modal{
        width: 50% !important; 
    }
}

@media only screen and (max-width:790px) {
    .swap-page__container{
        height: 80vh !important;
    }

    .swap-page__modal{
        width: 60% !important; 
    }
}

@media only screen and (max-width:640px) {

    .swap-page__modal{
        width: 70% !important; 
        // top:50% !important;
    }
}

@media only screen and (max-width:530px) {
    .swap-page__modal{
        width: 80% !important; 
        // top: 40% !important;
    }
}

@media only screen and (max-width:530px) {
    .swap-page__modal{
        width: 90% !important; 
    }
}

@media only screen and (max-width:375px) {
    .swap-page__modal{
        width: 100% !important; 
    }
}
