@import "../../assets/variable.scss";

.data-change button.ant-btn {
  border-radius: 25px;
  background-color: $orange-main-color;
  color: #1a1a1a;
  border: none;
}

/* change amount modal */

.ant-modal.update-stock-modal {
  .ant-modal-content {
    background: #1a1a1a;
    border-radius: 25px;
    color: white;

    .ant-modal-body{
      .change-amount{
        span.ant-typography{
          color: white !important;
        }

        .ant-form.ant-form-vertical{
          .ant-row.ant-form-item{
            label {
              color: white;
            }
          }
        }
      }
    }
  }
  top: 40px;
}
.box-form{
  margin-top: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.ant-table-cell-fix-left, .ant-table-cell-fix-right{
  background: #000;
}

.stock{
  &-button{
      text-align: left;
      transition: all 0.25s linear;
      cursor: pointer;
      & .ant-typography{
          color: $font__color--white;
          &:hover{
              color: $orange-main-color;
          }
      }
  }
  &-form{
      &-item{
          background-color: $background-form-item;
          border-radius: 8px;
          padding: 15px;
          margin-bottom: 20px;
          &-icon{
              width: 100%;
              text-align: right;
              & span{
                  color: $font__color--white;
                  cursor: pointer;
                  &:hover{
                      color: $orange-main-color;
                  }
              }
          }
      }
  }
}