@import '../../assets/index.scss';

.coin{
    &-detail{
        &-header{
            padding: 40px 0 60px 0;
            &-info{
                display: flex;
                align-items: center;
                &-image{
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-name{
                    color: $font__color--white;
                    font-size: 24px;
                    font-weight: 700;
                }
                &-symple{
                    color: $color-item-text-nft;
                    margin: 0 5px;
                }
                &-icon{
                    font-size: 22px;
                    color: $font__color--white;
                    cursor: pointer;
                    transition: all 0.25s linear;
                    margin: 0 5px;
                    &:hover{
                        color: $orange-main-color;
                    }
                }
            }
            &-price{
                display: flex;
                align-items: center;
                &-num{
                    font-size: 24px;
                    color: $font__color--white;
                    font-weight: 600;
                }
                &-percent{
                    padding: 5px;
                    margin-left: 15px;
                    background-color: rgba(255,53,53,0.1);
                    border-radius: 8px;
                    color: $color-pecent;
                }
            }
            &-market{
                display: flex;
                align-items: center;
                &-percent{
                    padding: 5px;
                    margin-left: 15px;
                    background-color: rgba(52,199,89,0.1);
                    border-radius: 8px;
                    color: #6ccf59;
                }
            }
            &-overview{
                margin-bottom: 30px;
            }
            &-content{
                &-list{
                    display: flex;
                    justify-content: space-between;
                    &-item{
                        &-network{
                           display: flex;
                           align-items: center;
                           flex-wrap: wrap;
                        }
                        &-parameter{
                            width: calc(100% / 3 - 10px);
                            text-align: left;
                            padding: 0 20px;
                            &:not(:last-child){
                                border-right: 1px solid $color-item-text-nft;
                            }
                        }
                    }
                }
                &-item{
                    margin-bottom: 10px;
                    &-title{
                        text-align: left;
                        color: $color-item-text-nft;
                        display: flex;
                        align-items: center;
                    }
                    &-box{
                        margin-right: 10px;
                        text-align: left;
                        margin-bottom: 10px;
                        padding: 5px 10px;
                        width: fit-content;
                        border-radius: 5px;
                        background-color: $backGroup-item-detail-coin;
                        cursor: pointer;
                        transition: all 0.25s linear;
                        &:hover{
                            color: $orange-main-color;
                        }
                    }
                    &-icon{
                        margin-left: 5px;
                        transition: all 0.25s linear;
                        cursor: pointer;
                        &:hover{
                            color: $orange-main-color;
                        }
                    }
                }
                &-num{
                    font-size: 20px;
                    color: $font__color--white;
                    font-weight: 600;
                }
            }
        }
        &-swap{
            & .swap-page__container .swap-page__modal{
                width: 100% !important;
                transform: translate(0);
                margin-top: 0;
                left: 0;
                top: 0;
            }
        }
        &-content{
            & .ant-col-18{
                & div{
                    // background-color: #000 !important;
                }
            }
        }
        &-chart{
            box-sizing: border-box;
            height: auto;
            width: '100%';
            margin: 15px 0;
        }
        &-title{
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-option{
            background-color: $background-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 15px;
            border-radius: 10px;
        }
        &-types{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-item{
                cursor: pointer;
                color: $font__color--white;
                font-weight: 600;
                margin-right: 25px;
                &.coin-detail-types-active{
                    color: $orange-main-color;
                }
            }
        }
        &-checkboxs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            & span{
                color: $font__color--white;
                font-weight: 600;
            }
            & .ant-checkbox:nth-child(1){
                background-color: transparent;
                border-color: $orange-main-color !important;
            }
        }
        &-price{
            &-change{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                &-item{
                    color: $font__color--white;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100% / 6 - 15px);
                    background-color: $background-color;
                    padding: 10px 25px;
                    border-radius: 10px;
                }
                &-percent{
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 10px;
                }
            }
        }
        &-name{
            text-transform: capitalize;
            font-size: 24px;
            color: $font__color--white;
            font-weight: 600;
        }
        &-percent{
            color: $font__color--white;
            &-num{
                margin: 0 10px;
            }
        }
    }
}
.tooltip-details{
    & p.tooltip-item-usd{
        position: relative;
        padding-left: 20px;
        display: flex;
        align-items: center;
        &:after{
            position: absolute;
            left: 0;
            top: 25%;
            content: '';
            width: 15px;
            height: 15px;
            background-color: $orange-main-color;
        }
        
    }
}
.custom-tooltip{
    font-size: 14px;
    font-weight: 600; 
    text-align: left;
    color: #fff;
    padding: 10px;
    background-color: #000;
}
path[class="recharts-curve recharts-tooltip-cursor"] {
    display: none;
  }