@import "../../assets/variable.scss";
/* Css for Wallet Address */
.sidebar {
    height: 100vh;
    margin-right: 40px;

    .ant-row {
        .ant-col {
            margin-top: 40px;

            button {
                border-radius: 25px;
                background-color: $orange-main-color;
                color: #1a1a1a;
                border: none;

                span {
                    font-size: 12px;
                    font-weight: 600;
                }
            }

            .ant-tabs-tab,
            .ant-tabs-tab.ant-tabs-tab-active {
                text-align: left;

                .ant-tabs-tab-btn {
                    color: $orange-main-color;
                }
            }
        }

        .ant-divider.ant-divider-horizontal {
            background-color: #999999;
        }

        .ant-input-group-wrapper {
            input {
                background-color: transparent;
                border-radius: 5px;
                border-color: #999999;
                color: #999999;
            }

            .ant-input-group-addon {
                display: none;
            }
        }
    }

    .ant-popover{
        background-color: $font__color--white;
    }
    .ant-tabs-right > .ant-tabs-content-holder,
    .ant-tabs-left > div > .ant-tabs-content-holder {
        border-right: 0px;
    }
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
        width: 100%;
    }
    .ant-typography {
        display: block;
        margin-bottom: 5px;
        color: white !important;
    }
    .ant-tabs {
        color: $font__color--white;
    }
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
        height: 450px;
    }
    .tab-list-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text{
            display: flex;
            flex-wrap: nowrap;
            width: 70%;
            & span{
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .tab-list-icon {
        margin-left: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s linear;
        display: flex;
        align-items: center;
        &-item {
            &:hover {
                color: $orange-main-color;
            }
        }
    }
    .ant-tabs-tab:hover {
        transition: all 0.2s linear;
        & .tab-list-icon {
            opacity: 1;
            visibility: visible;
            color: $checker-box-background;
        }
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
        padding: 8px 15px;
    }
    .ant-tabs-tab-btn,
    .ant-tabs-tab-remove {
        width: 100%;
    }
    &-connection{
        height: 80vh;
        overflow-y: auto;
    }
}
/* Css for Analyst */

.dashboard {
    padding: 40px 0;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    > .ant-row > .ant-col {
        padding-bottom: 20px;
    }
    .ant-tabs {
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $orange-main-color;
        }
        .ant-tabs-tab {
            color: #999999;
        }
        > .ant-tabs-nav::before {
            border: none;
        }
    }
    .main-price {
        text-align: left;
        font-size: 1.78947rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
    }
    .data-change {
        text-align: left;
        > span ~ span,
        span ~ .ant-select {
            padding-left: 10px;
            > span ~ span {
                padding-left: 1px;
            }
        }
        .ant-select {
            background: transparent !important;
        }
    }

    .ant-col {
        .ant-table-wrapper {
            border-top: 1px solid #999999;
            border-bottom: none;
            .ant-table {
                // background-color: #1a1a1a;
                .ant-table-container {
                    .ant-table-content {
                        .ant-table-thead {
                            .ant-table-cell {
                                // background-color: $background-color;
                                background-color: #1a1a1a;
                                color: #999999;
                                height: 20px;
                                font-size: 16px;
                            }
                        }
                        .ant-table-tbody {
                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: 600;
                            }
                            td {
                                color: #999999;
                                a {
                                    img {
                                        height: 25px;
                                        width: 25px;
                                        margin-right: 5px;
                                    }
                                    span {
                                        margin-left: 5px;
                                        color: #999999;
                                    }
                                }
                            }
                            td:hover {
                                background-color: #4d4d4d;
                            }
                            td:nth-child(4) {
                                color: white;
                                font-weight: 600;
                            }
                            .ant-table-cell {
                                font-size: 10px;
                            }
                            .ant-table-cell.table-name > div {
                                display: flex;
                                .table-name-content {
                                    margin-left: 5px;
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ant-popover-content{
    padding: 20px;
    background-color: #fff;
}
.ant-popover:after{
    background-color: #fff;
}
.ant-popover-inner{
    box-shadow: none;
}
