.ant-modal{
    overflow: hidden !important;
    height: 100vh;
}

.modal-style{
    top: 150px !important
}

.home{
    &-container{
        padding: 100px 0;
        margin: 0px auto;
        & .button{
            padding: 10px 40px;
            border-radius: 25px;
            font-size: 16px;
            background-color: #ff9332;
            color: #000;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            margin-bottom: 100px;
        }

        .homepage__short-coins--list{
            margin-bottom: 40px;
            .coins--table{
                margin-bottom: 20px;
            }

            // button{
            //     padding: 0px 40px;
            //     border-radius: 25px;
            //     font-size: 16px;
            //     background-color: #ff9332;
            //     color: #000;
            //     font-weight: 500;
            //     letter-spacing: 1px;
            //     cursor: pointer;
            //     margin-bottom: 20px;
            // }
        }

        .homepage__stock--table{
            .stock--table{
                margin-bottom: 20px;

                h1{
                    color: white;
                }

                .ant-table-cell{
                    color: white;
                }
            }
            // button{
            //     padding: 0px 40px;
            //     border-radius: 25px;
            //     font-size: 16px;
            //     background-color: #ff9332;
            //     color: #000;
            //     font-weight: 500;
            //     letter-spacing: 1px;
            //     cursor: pointer;
            //     margin-bottom: 20px;
            // }
        }
    }
    &-content{
        &-header{
            text-align: center;
            align-items: center;
        }
    }
    &-header{
        &-title{
            font-weight: bold;
            font-size: 35px;
            color: #fff !important;
            margin: 0px auto;
            display: flex;
            width: 500px;
        }
        &-text{
            color: #A8ADB3 !important;
            font-size: 20px;
            display: block;
            padding: 30px 0;
        }
    }
    &-platform{
        &-item{
            cursor: pointer;
            border: 1px solid #262626;
            border-radius: 12px;
            padding: 15px 0;
            &-name{
                font-size: 16px;
                color: #A8ADB3;
                font-weight: 200;
                display: block;
            }
            &-text{
                font-size: 17px;
                color: #fff;
                font-weight: 400;
            }
            &-icon{
                font-size: 12px;
                margin-left: 6px;
            }
        }
    }
}

/* Mini coin and stock table  */



