.modal-connect-other{
    &.ant-modal{
        top: 150px;
        overflow: hidden;
        height: 85vh;
    }
    & .ant-modal-content{
        border-radius: 19px;
    }
    & .ant-modal-content {
        & .ant-modal-close {
            & .anticon{
                font-size: 20px;
            }
        }
    }
    & .content{
        &-modal{
            max-height: 400px;
            overflow-Y: auto;
            margin-top: 40px;
            &-item{
                cursor: pointer;
                border: 1px solid #262626;
                border-radius: 15px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                min-height: 73px;
                transition: all linear 0.3s;
                &:hover{
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
                &-icon{
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &-text{
                    font-size: 20px;
                    font-weight: 500;
                    margin-left: 10px;
                    flex-wrap: wrap;
                }
                &-arrow{
                    font-size: 20px;
                    margin-left: 6px;
                }
            }
        }
    }
}