/* earn screen */
.earn__protocol--container{
    >button{
        position: absolute;
        right: 10%;
        top:7%
    }

    /* AAVE protocol */
    .AAVE-protocol__container{
        .transaction-table{
            display: flex;
            justify-content: space-between;

            .deposit-token, .borrow-token {
                &__token--part-title{
                    color: #000;
                }

                .ant-table{
                    .ant-table-cell{
                        color: #fff;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.earn{
    &-item{
        &-protocol{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            margin-top: 25px;
            width: 100%;
            cursor: pointer;
            border-radius: 3px;
            background-color: rgb(231, 231, 231);
            border: 1px solid rgb(196, 197, 202);
            transition: all 0.25s linear;
            & span{
                font-size: 18px;
                font-weight: 400;
                color: rgb(56, 61, 81);
            }
            &:hover{
                border-color: #000;
            }
            &-img{
                width: 25px;
                height: 25px;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.maker{
    max-width: 500px;
    margin: 0px auto;
    border: 1px solid gray;
    & .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list{
        width: 100%;
    }
    & .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active{
        background-color: transparent;
    }
    & .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active{
        background-color: transparent;
    }
}
.saving{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 ;
}

/* dropdown */
.ant-select-item-option-content {
    display: flex;
    justify-content: space-between;
}
