.market{
    &-card{
        cursor: pointer;
        & .ant-card-body {
            padding: 10px;
        }
        &-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-list{
        padding: 10px 0 0 0;
    }
    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &-image{
            width: 20px;
            height: 20px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}