.offchain-profit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 90%;
    &-icon{
        font-size: 18px;
        font-weight: 500;
    }
    &-title{
        font-size: 18px;
        font-weight: 500;
    }
    &-percent{
        font-size: 18px;
        font-weight: 500;
    }
}