$blue-color: #3eadff;
$indigo-button-hover-color: #6362e7;
$purple-color: #9747ff;
$modal__background--color: #f5f5f5;
$font__color--white: #fff9f9;
$checker-box-background: #969696;
$red-bad-password-color: #ff0000;
$yellow-weak-password-color: #ffb800;
$green-medium-password-color: #ccff00;
$green-strong-password-color: #00ff19;
$background-color: #1a1a1a;
$white-color: #fff;
$checked-icon-color: #00ff19;
$orange-main-color: #ff9332;
$background-form-item: #080808;
$background-item-nft: #262626;
$color-item-text-nft: #808080;
$backGroup-item-detail-coin:#0d0d0d;
$background-increase: rgba(52, 199, 89, 0.1);
$color-increase: #6ccf59;
$background-portfolio-dashboard: #0d0d0d;

$color-pecent: #ff4d4d;

$padding-1: 2px;
$padding-2: 4px;
$padding-3: 8px;
$padding-4: 16px;
$padding-5: 32px;

$margin-1: 2px;
$margin-2: 4px;
$margin-3: 8px;
$margin-4: 16px;
$margin-5: 32px;

$font-size-1: 8px;
$font-size-2: 10px;
$font-size-3: 14px;
$font-size-4: 18px;
$font-size-5: 26px;

$line-height-1: 10px;
$line-height-2: 12px;
$line-height-3: 16px;
$line-height-4: 22px;
$line-height-5: 30px;
