@import "../../assets/variable.scss";

.ant-menu-horizontal {
    border-bottom: 0px !important;
}
.ant-menu {
    background-color: #0d0d0d !important;
}
.ant-layout-header {
    background: #0d0d0d !important;
}
.ant-menu-item a {
    color: #fff !important;
}
.ant-layout-header {
    line-height: 65px !important;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
    top: 0px !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 3px solid #ff9332 !important;
}
.ant-layout {
    box-shadow: 0px 1px 0px rgb(255 255 255 / 10%) !important;
}
.App {
    background-color: #000;
    color: #fff;
}
.layout {
    position: sticky !important;
    top: 0;
    z-index: 100;
    width: 100%;
    .ant-layout-header {
        .ant-typography {
            cursor: pointer;
            color: #fff;
        }

        .ant-typography:hover {
            color: $orange-main-color;
        }
    }
    &-header{
        padding: 0 5%;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-name{
                font-size: 20px;
                font-weight: 500;
                color: #fff;
            }
        }
        &-user{
            &-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        &-auth{
            display: flex;
            align-items: center;
            width: 150px;
            justify-content: space-around;
        }
    }
}
.modal-signup {
    top: 20px;
    & .ant-modal-header {
        border-radius: 10px 10px;
    }
    & .ant-modal-content {
        border-radius: 10px;
        & .ant-modal-close {
            display: none;
        }
    }
}
.modal-signin {
    top: 195px;
    & .ant-modal-content {
        border-radius: 10px;
    }
    & .ant-modal-body {
        padding: 56px;
    }
}
.header__link {
    white-space: nowrap;
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    &:hover {
        color: $orange-main-color !important;
    }
}
