@import '../../assets/index.scss';

.dashboard{
    &-portfolio{
        padding: 60px 0px;
        text-align: left;
        &-connect{
            &-header{
                padding: 0 30px 30px 30px;
            }
            &-title{
                font-size: 30px;
                font-weight: 400;
                color: $font__color--white;
            }
            &-content{
                color: $color-item-text-nft;
            }
            &-item{
                border-radius: 25px;
                padding: 10px 20px;
                background-color: $background-portfolio-dashboard;
                border: 1px solid #333333;
                margin-bottom: 40px;
                height: 125px;
                cursor: pointer;
                &-title{
                    display: flex;
                    align-items: center;
                    justify-content: left;
                }
                &-icon{
                    width: 35px;
                    height: 45px;
                    font-size: 30px;
                    margin-right: 5px;
                    color: $orange-main-color;
                    & img{
                        width: 100%;
                        height: 35px;
                        object-fit: cover;
                    }
                }
                &-text{
                    color: $font__color--white;
                    font-size: 16px;
                    line-height: 2;
                }
                &-content{
                    color:$color-item-text-nft;
                    font-size: 12px;
                }
            }
        }
    }
}